body {
  background-color: rgb(180, 255, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: 80vw;
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container h1 {
  text-align: center;
  padding: 20px;
}
.main {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.main button {
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 5px;  
  padding: 2vw;  
  font-size: 2vw;
  font-weight: 800;
  cursor: pointer;
}
.main button:hover {
  background-color: rgb(180, 255, 75)
}
.box {
  border: 1px solid black;
  width: 45%;
  background-color: hsl(0, 12%, 95%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-img {
  width: 80%;
  max-width: 300px;
  height: auto;
}

.win {
  border: 10px solid green;
}
.lose {
    border: 10px solid red;
}
.tie {
    border: 10px solid black;
}

@media screen and (max-width:430px) {
  body {
    align-items: flex-start;
    padding: 5px 0;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .container h1 {
    text-align: center;
    padding: 5px;
    margin: 3px 0 0 0;
    font-size: 1.5rem;
}
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px;
  }
  .item-img {
    width: 65%;
    height: auto;
  }
  .box {
    border: 1px solid black;
    width: 80%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: hsl(0, 12%, 95%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box h1, .box h2 {
    font-size: 1em;
    word-break: break-word;
    margin: 5px 0;
  }
  .btn {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
    padding: 0;
  }
  .main button {
    margin: 0px 3px;  
    padding: 5px;  
    font-size: 1rem;
    font-weight: 600;
    color: black;
  }

  .win {
    border: 10px solid green;
  }
  .lose {
      border: 10px solid red;
  }
  .tie {
      border: 10px solid black;
  }
}